body{
  background-image: url("img/фон.jpg");
 background-size: cover;
  font-size:  14pt;
  font-family: san-serif;
}
.wrap{
  margin: auto;
  width: 50%; 
}
.header{
  padding: 1em 0em; 
}
.nav{
  float: center;   
}
.nav > ul > li {
  display:inline-block;  
}
.nav > ul > li.active a{
  background: #232188;
  color: #ffffff;                    
}
.nav > ul > li > a {
  display: block;
  font-family: sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 0.5em 1em;
 color: #ffffff;
  -webkit-transition: 0.9s; 
  -moz-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
body {
  font-family: sans-serif;
}
h1 {
    font-size: 40px;
    color: #232188;
}
.row {
    margin: auto;
}
.row,
.row > .column {
    padding: 8px;
}
.column {
    float:  left;
    width: 25%;
}

.content {
    background-color: white;
    padding: 10px;
}
img {
  width: 100%;
}
.clearfix:after,
.clearfix:before {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  clear: both;
}
.ico-wrap {
    width: 30px;
    height: 40px;
    margin:15px 20px 2px 2px;
    display: block;
    text-align: center;
    font-size: 25px;
    float: left;
}
.descript-wrapper {
    float: left;
    margin-bottom: 20px;
}








