body {
background-image: url("img/фон2.jpg");
  background-size: cover;
  font-size:  14pt;
 #ffffff
  font-family: sans-serif;
  }
.wrap{
  margin: auto;
  width: 50%; /* отступы относительно окна браузера */            
}
.header{
  padding: 1em 0em; 
}
.nav {
  float: center;   
}
.nav > ul > li {
  display:inline-block;  
}
.nav > ul > li.active a{
  background: #232188;
  color: #ffffff;                    
}
.nav > ul > li > a {
  display: block;
  font-family: sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 0.5em 1em;
 color: #ffffff;
  -webkit-transition: 0.9s; 
  -moz-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
body {
  font-family: sans-serif;
}
h1 {
  font-size: 40px;
  margin: 50px 0px;
  color: #232188;
text-align: center;
}

.wrapper {
  width: 600px;
  margin: auto;
}
.clearfix:after,         
.clearfix:before {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  clear: both;
}
.descript-wrapper {
    float: left;
    margin-bottom: 30px;   
}
.aio-icon-title {
    font-size: 20px;
    color: #232188;            
    line-height: 1;
    margin-bottom: 10px;
}

  h2{
	color: #ffffff;       
        text-align: center;
	font-size: 1.4em;
	margin-top: 20px;
   }
 p {
	color: 	#FF9824;
	font-size: 14pt;
	padding: 1em 0.5em 0.5em 0.5em;
	line-height: 1.5em;
}
